footer p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    margin-top: 0.0em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 140%;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}


h3 {
    font-size: 120%;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}

h4 {
    font-style: italic;
    font-size: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

img.math {
    width: auto;
}